html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, img, q, dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 13px;
  font-family: 微软雅黑;
  vertical-align: baseline;
}

html {
  overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height:normal;}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix[xmlns] {
	display: inline-block;
}

html[lang] .clearfix {
	display: block;
}

.clear {
	clear: both;
}

.hidden {
	position: absolute;
	display: none;
}

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

body {
	font-family: 微软雅黑;
	font-size: .625em;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

#wrapper {
	width: 988px;
	margin: auto;
	margin-top: 10px;
	font-size: 1.2em;
}

/* header */
#menu {
	background: #8cc63f url('../../img/corner-green-solid-rt.gif') right top no-repeat;
}

.deleteRubric, .deleteSlide {
	display:inline;
}

#menu li {
	float: left;
	display: block;
	line-height: 29px;
	border-left: 1px solid #555;
}

#menu li:first-child {
	border-left: none;
}

#menu li a {
	display: block;
	float:left;
	padding: 0 1.2em;
	font-weight: bold;
	color: #222;
}

#logo {
	float: right;
	margin-right: 33px;
}

#header-content {
	padding-right: 4px;
	background: url('../../img/border-vertical-green.gif') center top repeat-y;
}

#header-content > div {
	background: url('../../img/border-green.gif') center bottom repeat-x;
}

#header-content #topImageBox1 {
	line-height:0px;
	float:right;
}

#short-about {
	float: left;
	display:inline;
	width: 462px;
	height: 117px;
	padding: 5px 15px;
	border-right: 4px solid #8cc63f;
	background: url('../../img/corner-green-lb.gif') left bottom no-repeat;
}

#short-about h2 {
	font-size: 1.8em;
	color: #8cc63f;
}

/* main */
#main {
	margin-top: 10px;
	/*background: url('../../img/main-bg.gif') center top repeat-y;*/
}

/* sidebars */
#main .sidebar {
	float: left;
	width: 174px;
}

#main .sidebar .block {
	margin-bottom: 10px;
}

#main .sidebar .block.green {
	background: url('../../img/sidebar-green-bg.gif') center top repeat-y;
}

#main .sidebar .block.green > div {
	background: url('../../img/corner-green-rt.gif') right top no-repeat;
}

#main .sidebar .block.green > div > div {
	padding: 9px 12px;
	background: url('../../img/corner-green-lb.gif') left bottom no-repeat;
}

#main .sidebar .block.red {
	background: url('../../img/sidebar-red-bg.gif') center top repeat-y;
}

#main .sidebar .block.red > div {
	background: url('../../img/corner-red-rt.gif') right top no-repeat;
}

#main .sidebar .block.red > div > div {
	padding: 9px 12px;
	background: url('../../img/corner-red-lb.gif') left bottom no-repeat;
}


#main .sidebar .block.list ul {
	list-style: none;
}

#main .sidebar .block.list ul ul {
	list-style: disc;
}

#main .sidebar .block.green.list ul ul {
	color: #8cc63f;
}

#main .sidebar .block.red.list h2 a, #main .sidebar .block.red.list ul a  {
	color: #f15a29;
}

#main .sidebar .block.list ul li > ul {
	margin-left: 17px;
}

#main .sidebar .block.list ul li {
	font-weight: normal;
}

#main .sidebar .block.list ul li a {
	display: block;
	line-height: 1.2em;
	margin-bottom: .3em;
}


#main .sidebar .block.list ul li.active {
	font-weight: bold;
}

#main .sidebar .block.list ul li.active a.active {
	font-weight: bold;
	text-decoration: none;
}
#header ul li a.active {
	font-weight: bold;
	text-decoration: none;
}
a.offline {
	font-style:italic;
}

#main .sidebar .block.green.list ul li a {
	color: #8cc63f;
}

#main .sidebar .block.red.list ul li a {
	color: #f15a29;
}

#main .sidebar .block h2 {
	font-weight: bold;
}

#main .sidebar .block.green h2 a, #main .sidebar .block.green h2, #footer a {
	color: #888;
}

#main .sidebar .block.red h2 {
	color: #f15a29;
}

#main .sidebar .block.invisible a#toggle-handle, #ultra-culture {
	font-size: 2.2em;
	line-height: 1.2em;
	text-decoration: none;
	color: #888;
}

#main .sidebar .block.invisible a#toggle-handle:hover {
	margin-top: 10px;
}

#main .sidebar .block.invisible #toggle-invisible {
	margin-top: 10px;
}

#main .sidebar .block.green.mix h3 {
	margin-bottom: 5px;
	font-size: .9em;
	font-weight: bold;
	color: #8cc63f;
}

#main .sidebar .block.mix a {
	display:block;
	font-size: .9em;
	color: #888;
	line-height: 1.2em;
	margin-bottom: .4em;
}

#main .sidebar .block.mix ol li {
	line-height: 1.2em;
	margin-bottom: .4em;
}

#main .sidebar .block.mix ol li a {
	font-size: .9em;
	color: #888;
}

#main .sidebar .block.mix .video .item {
	margin-bottom: 10px;
}

#main .sidebar .block.mix .video .item a img {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#main .sidebar .block.mix .video .item a {
	display: block;
	line-height: 1.2em;
	font-size: .9em;
	color: #888;
}

#main .sidebar .block.commercial a {
	display: block;
	margin-bottom: 5px;
}

/* content */
#content {
	float: left;
	width: 788px;
	/*margin-left:25px;*/
	margin-right:25px;
}

#content a {
	color: #333333;
}

#content h2 {
	padding-top: 10px;
	padding-right: 0pt;
	padding-bottom: 10px;
	padding-left: 15px;
	font-weight: bold;
	color: #888888;
}

#content h2 input {
	padding-left: 0px;
	margin-left: 0px;
	float: left;
}

#content #tree {
	padding-left: 30px;
}

#navpath {
	margin-bottom: 10px;
	padding: 0px;
}

#navpath a {
	color: #8cc63f;
}
#navpath a.active {
	font-weight: bold;
    text-decoration: none;
}
#content #search_column {
	margin-top: 0pt;
	margin-right: 25px;
	margin-bottom: 0pt;
	margin-left: 25px;
}

#rubric, .administrationPage {
	margin-right: 0px;
	margin-bottom: 0pt;
	margin-left: 0px;
		
}

.slideshow {
	position: relative;
}

.slideshow .item {
	margin: auto;
	width: 770px;
	/*text-align: center;*/
}

.slideshow #slideshow-prev {
	position: absolute;
	display: block;
	left: -15px;
	top: 200px;
}

.slideshow #slideshow-next {
	position: absolute;
	display: block;
	right: -15px;
	top: 200px;
}

.slideshow .list .shortcut.current {
	font-weight: bold;
}

.slideshow .item {
	display: none;
}

.slideshow .firstSlide, .slideshow #slide0, #slideshow #slide0 {
	display: block;
}
/*
#content .text {
	margin: 0 25px;
}
*/

.slideshow img {
	max-width: 578px;
	max-height: 476px;
}

.slideshow object, .slideshow embed {
	max-width: 508px;
	max-height: 476px;
}

.slideshow .controls {
	z-index: 9999;
}


#content .text p {
	margin-bottom: 10px;
	padding: 0 5px;
}

#content .text img {
	float: left;
	margin-right: 5px;
	padding: 0 5px 10px 5px;
	background: white;
}

#content .text img .caption {
	font-size: .9em;
}

#content h1 {
	padding: 0 5px;
	font-size: 1.8em;
	color: white;
	background: #8cc63f;
}

#content .text.image h1 span {
	padding-left: 5px;
}

/* footer */
#footer {
	margin-top: 10px;
	font-size: .9em;
	background: url('../../img/border-horizontal-bg.gif') left top repeat-x;
}

#footer p {
	float: left;
	margin-right: 30px;
	padding: 5px 0;
}

li{
	position: relative;
}
#tree li {
	position:static;
}
li .deleteRubric {
	position: absolute;
	left: 0px;
	top: 3px;
	display: none;
}
.rounded-corners li .deleteRubric {
	position: absolute;
	left: -13px;
	top: 0px;
	display: none;
}


li:hover .deleteRubric {
	display: block;
}

.deleteRubric {
	cursor: pointer;
}

#rightBanner1 img, #rightBanner2 img, #rightBanner3 img {
	width:171px;
}

#leftBanner665 img, #leftBanner666 img, #leftBanner667 img {
	width: 171px;
}

#topImageBox1 img {
	width: 488px;
	height: 123px;
}



/* ----------- nauji rapolo kontrolai ----- */

input {
	border: 1px solid #cccccc;
}

#dropdown {
	border:1px solid #a5b880;
	margin:0px;
	width:254px;
	padding:0px;
}



#newArticleLink, .addSubRubricLink {
	margin-top:9px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#newArticleLink {
	text-align:left;
}

#newArticleLink {
margin-bottom:20px;
}


/* --- command manager --- */

.hidden {
	display: none;
}

#articleControlsHeader {
	background-color: #e3e3e3;
	background-image: url("../../img/puslapio_nustatymai_bg.gif");
	background-repeat: repeat-x;
	height: 36px;
	line-height: 35px;
	padding-left: 10px;
	margin-bottom: 1px;
	cursor: pointer;
}

#articleControlsHeader span {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	color: #0066cc;
}

#articleControlsHeader img {
	margin-right: 10px;
	border: 0px;
}

#articleControls {
	/*display: none;*/
}

#articleControls p {
	background-color: #ebebeb;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;	
	/*height: 35px;*/
	/*line-height: 35px;*/
	border-bottom: 1px solid #dbdbdb;
}

#articleControls p.last {
	border-bottom: none;
}

#articleControls p input {
	margin: 0px;
}

#articleControls p .description {
	color:#999999;
}
#articleControls p img {
	vertical-align: middle;
}


.edit input {
	font-size: inherit;
	font-family: 微软雅黑,inherit;
	font-weight: inherit;
	font-stretch: inherit;
	font-style: inherit;
	font-variant: inherit;
}

span.edit button {
	font-size: 10px;
	height: 20px;
}

.mceExternalToolbar {
	z-index: 1000;
}

#errorBox{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -100px;
	width: 400px;
	background-color: red;
	border: 2px solid black;
	border-top: 20px solid black;
	padding: 20px;
	padding-bottom: 25px;
	color: white;
	display: none;
}

#errorBox h2{
	padding: 0px;
	margin: 0px;
	padding-bottom: 20px;
}

#errorBox a{
	color: black;
	font-size: 16px;
	font-weight: bold;
	background-color: white;
	padding: 5px 25px;
}

#errorBox * {
	text-align: center;	
}

#errorBox p#error {
margin-bottom: 20px;
border: 1px solid black;
padding: 20px;
}
#error {
	text-align: left;
}
.cmsDialog {
    position: absolute;
    background: #999999;
    border: 4px solid #666666;
    margin-top: -100px;
    margin-left: -300px;
    padding: 10px;
    z-index: 1000;
}
.bannerEditor-banner{
	position: relative;
	margin-bottom: 20px;
}

.bannerDelete {
	position: absolute;
	padding: 5px;
	top: 0px;
	left: 0px;
}



#tip_message {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 40%;
    text-align: center;
    width: 100%;
}
 
#tip_message span {
    background-color: #03C440;
    opacity: .8;
    padding: 20px 50px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
 
#tip_message span.error {
    background-color: #EAA000;
}