详情
  <table>
                <tr>
              <td>id</td>
              <td>
                  $!staffDO.id
              </td>
          </tr>

                <tr>
              <td>name</td>
              <td>
                  $!staffDO.name
              </td>
          </tr>

                <tr>
              <td>password</td>
              <td>
                  $!staffDO.password
              </td>
          </tr>

                <tr>
              <td>gmtCreate</td>
              <td>
                  $!staffDO.gmtCreate
              </td>
          </tr>

                <tr>
              <td>amount</td>
              <td>
                  $!staffDO.amount
              </td>
          </tr>

        </table>
