<a href="$!homeServer.getURI("staff/create.htm")" >新建</a>

<table>
 <tr>
              id
              name
              password
              gmtCreate
              amount
          <td>操作</td>
 </tr>
#foreach($f in $staffDOList)
  <tr>
               <td> $!f.id</td>
               <td> $!f.name</td>
               <td> $!f.password</td>
               <td> $!f.gmtCreate</td>
               <td> $!f.amount</td>
          <td><a href="$!homeServer.getURI("staff/edit.htm").addQueryData('id',"$!f.id")" >编辑</a></td>
    <td><a href="$!homeServer.getURI("staff/detail.htm").addQueryData('id',"$!f.id")" >查看详情</a></td>
      <td><a href="$!homeServer.getURI("staff/doDelete.htm").addQueryData('id',"$!f.id")" onclick="return confirm('确定删除吗?')">删除</a></td>
 </tr>
#end
</table>

$tile.load('home/common/page.vm').param('path','staff/list.htm').param('query',$query)