<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="$!staticServer.getURI("static/bootstrap-3.2.0-dist/css/bootstrap.min.css")">

</head>
 <body>
      #parse('home/layout/header.vm')
      $screen_content
      #parse('home/layout/footer.vm')
 </body>
<script src="$!staticServer.getURI("static/js/jquery-1.11.1.min.js")"></script>
<script src="$!staticServer.getURI("static/bootstrap-3.2.0-dist/js/bootstrap.min.js")"></script>


</html>