body{padding-top: 30px;background: url(../img/bg.gif)}
h1.logo {
 
    font-size: 4em;
    font-weight: bold;
    text-shadow: 1px 1px #CCC;
}
#main h1,#main h2,#main h3 {
    font-weight: bold;
    text-shadow: 1px 1px #CCC;
}
#left-side h2{
    font-size: 2em;
    color: #0088cc
}
h1,h2,h3,h4{font-family: '微软雅黑';font-weight: normal;margin-top: 8px;}

h1.logo a:hover{text-decoration: none}
h1.logo {text-shadow: 1px 1px #CCC}
#main .thumbnails .span2{background: #fff;}
#main .thumbnails .span2 a{color: #333}
#main .thumbnails .span2 a:hover{text-decoration: none}
#main .thumbnails .thumbnail:hover{
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
.form-search{padding-top: 30px}
.dropdown.open .dropdown-toggle {
    background: none ;
    color: #333;
}
.margin{margin: 5px !important}
.padding{padding: 10px}
#message {width: 240px}
.confirm,.confirm-comment{display: none}
.thumbnail {background: #fff}
.margin-rb{margin: 0 5px 5px 0}
.margin-lb{margin: 0 0px 5px 5px}
.edito{text-align: justify}
.badge{margin: 2px;float: left}
footer{background: #333;color: #fff;}
p.padding{float: left;}
footer a,footer a:hover{color: #FFF;text-decoration: underline}
.comment-list li{margin: 4px 0}
footer .row{padding: 0 10px}

.cmsDialog {
    position: absolute;
    background: #999999;
    border: 4px solid #666666;
    margin-top: -100px;
    margin-left: 0px;
    padding: 10px;
    z-index: 1000;
    text-align: left;
}
#errorBox{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -100px;
	width: 400px;
	background-color: red;
	border: 2px solid black;
	border-top: 20px solid black;
	padding: 20px;
	padding-bottom: 25px;
	color: white;
	display: none;
}

#errorBox h2{
	padding: 0px;
	margin: 0px;
	padding-bottom: 20px;
}

#errorBox a{
	color: black;
	font-size: 16px;
	font-weight: bold;
	background-color: white;
	padding: 5px 25px;
}

#errorBox * {
	text-align: center;	
}

#errorBox p#error {
	margin-bottom: 20px;
	border: 1px solid black;
	padding: 20px;
}
#error {
	text-align: left;
}
#tip_message {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 40%;
    text-align: center;
    width: 100%;
}
 
#tip_message span {
    background-color: #03C440;
    opacity: .8;
    padding: 20px 50px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
 
#tip_message span.error {
    background-color: #EAA000;
}
