详情
  <table  class="table">
                <tr>
              <td>id</td>
              <td>
                  $!demoDO.id
              </td>
          </tr>

                <tr>
              <td>name</td>
              <td>
                  $!demoDO.name
              </td>
          </tr>

                <tr>
              <td>password</td>
              <td>
                  $!demoDO.password
              </td>
          </tr>

                <tr>
              <td>gmtCreate</td>
              <td>
                  $!demoDO.gmtCreate
              </td>
          </tr>

                <tr>
              <td>amount</td>
              <td>
                  $!demoDO.amount
              </td>
          </tr>

        </table>
